<%#
You can replace this file at you application to add navigation entries.
Create a new file at
+app/views/factory_bot_instrumentation/_navigation.html.erb+
to make use of this feature.

<li class="nav-item active">
  <a class="nav-link" href="#">Home</span></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Link</a>
</li>
%>
