# Define new dynamic seed scenarios here which can be used on the API
# instrumentation frontend.

default: &default
  # Each group consists of a key (the pattern to match) and the value (group
  # name).  The patterns are put inside a quoted regex and the first matching
  # one will be used so the configuration order is important.
  groups:
    UX: UX Scenarios
    user: Users

  # All the scenarios which can be generated.
  scenarios:
    - name: Empty user
      desc: Create a new user without any dependent data.
      factory: :user
      traits:
        - :confirmed
      overwrite: {}

    - name: User with a single friend
      desc: Create a new user with a single friend.
      factory: :user
      traits:
        - :confirmed
        - :with_friend
      overwrite: {}

    - name: User with a single friend named Bob
      desc: Create a new user with a single friend whose name is Bob.
      factory: :user
      traits:
        - :confirmed
        - :with_friend
      overwrite:
        friend_overwrites:
          first_name: Bob

    - name: User with multiple friends
      desc: Create a new user with 5 friends.
      factory: :user
      traits:
        - :confirmed
        - :with_friends
      overwrite:
        friends_amount: 5

test:
  <<: *default

development:
  <<: *default

production:
  <<: *default
